# STREAMLIT PARTE 2

### Aula 1:
- Apresentação do dataset
- Apresentação da ferramenta final

### Aula 2:
- Parte 1:
    - 1 coluna como filtro
    - st.set_page_config()
    - st.image()
    - st.slider()
    - st.pyplot()
- Parte 2:
    - 2 colunas como filtro
    - st.multiselect()
- Parte 3:
    - st.form()
    - st.form_submit_button()
    - sns.set_theme()

### Aula 3:
- 9 colunas como filtro


### Aula 4:
- pip install --upgrade streamlit
- pip install --upgrade matplotlib
- st.cache()


### Aula 5:
- st.file_uploader()


### Aula 6:
- st.download_button()


### Aula 7:
- st.columns()
- st.radio()

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:

bank = pd.read_csv('./data/input/bank-additional-full.csv', sep=';')

bank.head(10)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
a = bank.to_csv()
a

In [4]:
type(a)

str

In [ ]:
b = a.encode('utf-8')
b

In [6]:
type(b)

bytes

In [7]:
from io                     import BytesIO

In [10]:
output = BytesIO()
writer = pd.ExcelWriter(output, engine='xlsxwriter')

In [11]:
bank.to_excel(writer, index=False, sheet_name='Sheet1')

In [12]:
writer

In [13]:
writer.save()

In [14]:
processed_data = output.getvalue()

In [15]:
processed_data[:100]

b'PK\x03\x04\x14\x00\x00\x00\x08\x00\x00\x00?\x00a]I:O\x01\x00\x00\x8f\x04\x00\x00\x13\x00\x00\x00[Content_Types].xml\xad\x94\xcbn\xc20\x10E\xf7\xfd\x8a\xc8\xdb*1tQU\x15\x81E\x1f\xcb\x16\xa9\xf4\x03\\{B,\x1c\xdb\xf2\x0c\x14\xfe\xbe\x93\xf0P[Q\xa0\x82M\xacd\xee\xdcs'

In [ ]:
bank_raw = pd.read_csv('./data/input/bank-additional-full.csv', sep=';')

bank = bank_raw.copy()

In [ ]:
bank.shape

In [ ]:
bank_maior = pd.concat([bank]*20,ignore_index=True)
bank_maior

In [ ]:
bank_maior.shape

In [ ]:
bank_maior.to_csv('./data/input/bank-additional-full-40.csv',index=False, sep=';')

In [ ]:
# IDADES
max_age = int(bank.age.max())
min_age = int(bank.age.min())
print(min_age,max_age)

In [ ]:
bank_raw.shape

In [ ]:
bank[['age','job','marital','default','housing','loan','contact','month','day_of_week','y']]

In [ ]:
bank.day_of_week.unique().tolist()

In [ ]:
bank.head(2)

In [ ]:
idades = [17,98]

In [ ]:
bank.job.unique().tolist()

In [ ]:
jobs_list = bank.job.unique().tolist()
jobs_list.append('all')
print('PROFISSÕES DISPONIVEIS:', jobs_list)

In [ ]:
# jobs_selected = jobs_list
# jobs_selected = ['housemaid','services']
jobs_selected = ['all']
jobs_selected

In [ ]:
bank = bank_raw.copy()
bank.shape

In [ ]:
# bank = bank[(bank['age'] >= idades[0]) & (bank['age'] <= idades[1])]

# bank = bank[bank['job'].isin(jobs_selected)].reset_index(drop=True)

In [ ]:

if 'all' in jobs_selected:
    pass
else:
    bank = bank[bank['job'].isin(jobs_selected)].reset_index(drop=True)

In [ ]:
bank.shape

In [ ]:
bank.head(10)

In [ ]:
bank_raw_target_perc = bank_raw.y.value_counts(normalize = True).to_frame()*100
bank_raw_target_perc = bank_raw_target_perc.sort_index()
bank_raw_target_perc

In [ ]:
bank_target_perc = bank.y.value_counts(normalize = True).to_frame()*100
bank_target_perc = bank_target_perc.sort_index()
bank_target_perc

In [ ]:

# # PLOTS    
fig, ax = plt.subplots(1, 2, figsize = (5,3))


sns.barplot(x = bank_raw_target_perc.index, 
            y = 'y',
            data = bank_raw_target_perc, 
            ax = ax[0])
ax[0].bar_label(ax[0].containers[0])
ax[0].set_title('Dados brutos',
                fontweight ="bold")


sns.barplot(x = bank_target_perc.index, 
            y = 'y', 
            data = bank_target_perc, 
            ax = ax[1])
ax[1].bar_label(ax[1].containers[0])
ax[1].set_title('Dados filtrados',
                fontweight ="bold")

In [ ]:

bank = pd.read_csv('./data/input/bank-additional-full.csv', sep=';')

bank.head(10)

In [ ]:
bank.columns

In [ ]:

max_age = int(bank.age.max())
min_age = int(bank.age.min())

In [ ]:
pd.concat([bank]*20,ignore_index=True)

In [ ]:
pd.concat([bank]*20,ignore_index=True).to_csv('./bank-additional/bank-additional-full-40.csv',index=False, sep=';')

In [ ]:
a=bank.y.value_counts(normalize=True).to_frame()
a

In [ ]:
a.plot.pie(y = 'y',ax=ax[1])

In [ ]:
fig, ax = plt.subplots(1, 1, figsize = (5,3))
a.plot(kind='pie', autopct='%.2f', y='y', ax = ax)
plt.show()

In [ ]:
a.plot(kind='bar')

In [ ]:
bank.head(3)

In [ ]:
bank.job.unique().tolist()